* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;

}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #f0dc05;	
}

.container {
	width: 100%;
	display: flex;
	max-width: 850px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 10px 15px rgba(0,0,0,0,1);

}

.login{
	width: 400px;

}

form{
	width: 350px;
	margin: 20px auto;

}

h2, h3{
	margin: 20px;
	text-align: center;
	font-weight: bolder;
	text-transform: uppercase;
	color: #008B8B;
	
}


hr{
	border-top: 2px solid #008080;

}

p{
	text-align: center;
	margin: 10px;

}

.posisi_gambar img{
	width: 450px;
	height: 100%;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;


}

form label{

	display: block;
	font-size: 16px;
	font-weight: 600;
	padding: 5px;

}


input{
	width: 100%;
	margin: 2px;
	border: none;
	outline: none;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid gray;
	font-size: 15pt;
}

button{
	border: none;
	outline: none;
	padding: 8px;
	width: 350px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
	border-radius: 5px;
	background: #008080;


}

button:hover{

	background: rgba(214, 86, 64, 1);
}

a{
	text-decoration: none;
}


